<!--&lt;!&ndash;-->
  <!--Generated template for the HomePage page.-->

  <!--See http://ionicframework.com/docs/components/#navigation for more info on-->
  <!--Ionic pages and navigation.-->
<!--&ndash;&gt;-->
<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<ion-title>home</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->


<!--<ion-content padding>-->

<!--</ion-content>-->


<!--&lt;!&ndash;Theme GMAPS + Location  Details &ndash;&gt;-->
<!--&lt;!&ndash;Content &ndash;&gt;-->
<!--<ion-content elastic-header has-header>-->
  <!--<div id="elastic-header">-->
    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
        <!--shay-->
      <!--</ion-item>-->

    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
      <!--shay-->
    <!--</ion-item>-->

    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
      <!--shay-->
    <!--</ion-item>-->

    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
      <!--shay-->
    <!--</ion-item>-->
  <!--</div>-->
  <!--<ion-grid no-padding >-->
    <!--<ion-row>-->
      <!--<ion-col col-12 map-header>-->
        <!--<ion-item no-lines transparent>-->
          <!--test elastic header-->
        <!--</ion-item>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  <!--</ion-grid>-->
<!--</ion-content>-->

<!--<ion-content delegate-handle="example-scroller" elastic-header="example-elastic-header" overflow-scroll="false">-->
  <!--<div id="example-elastic-header" class="background-image"></div>-->

  <!--<div class="content">-->
    <!--<div class="padding">-->
      <!--<h1>Elastic header</h1>-->
      <!--<p>An Ionic/Angular directive for elastic headers. This implementation causes no browser repaints with silky smooth 60fps as a result.</p>-->
    <!--</div>-->
    <!--<div class="list">-->
      <!--<div class="item">1</div>-->
      <!--<div class="item">2</div>-->
      <!--<div class="item">3</div>-->
      <!--<div class="item">4</div>-->
      <!--<div class="item">5</div>-->
      <!--<div class="item">6</div>-->
      <!--<div class="item">7</div>-->
      <!--<div class="item">8</div>-->
      <!--<div class="item">9</div>-->
      <!--<div class="item">10</div>-->
      <!--<div class="item">12</div>-->
      <!--<div class="item">13</div>-->
      <!--<div class="item">14</div>-->
      <!--<div class="item">15</div>-->
      <!--<div class="item">1</div>-->
      <!--<div class="item">2</div>-->
      <!--<div class="item">3</div>-->
      <!--<div class="item">4</div>-->
      <!--<div class="item">5</div>-->
      <!--<div class="item">6</div>-->
      <!--<div class="item">7</div>-->
      <!--<div class="item">8</div>-->
      <!--<div class="item">9</div>-->
      <!--<div class="item">10</div>-->
      <!--<div class="item">12</div>-->
      <!--<div class="item">13</div>-->
      <!--<div class="item">14</div>-->
      <!--<div class="item">15</div>-->
      <!--<div class="item">1</div>-->
      <!--<div class="item">2</div>-->
      <!--<div class="item">3</div>-->
      <!--<div class="item">4</div>-->
      <!--<div class="item">5</div>-->
      <!--<div class="item">6</div>-->
      <!--<div class="item">7</div>-->
      <!--<div class="item">8</div>-->
      <!--<div class="item">9</div>-->
      <!--<div class="item">10</div>-->
      <!--<div class="item">12</div>-->
      <!--<div class="item">13</div>-->
      <!--<div class="item">14</div>-->
      <!--<div class="item">15</div>-->
      <!--<div class="item">1</div>-->
      <!--<div class="item">2</div>-->
      <!--<div class="item">3</div>-->
      <!--<div class="item">4</div>-->
      <!--<div class="item">5</div>-->
      <!--<div class="item">6</div>-->
      <!--<div class="item">7</div>-->
      <!--<div class="item">8</div>-->
      <!--<div class="item">9</div>-->
      <!--<div class="item">10</div>-->
      <!--<div class="item">12</div>-->
      <!--<div class="item">13</div>-->
      <!--<div class="item">14</div>-->
      <!--<div class="item">15</div>-->
      <!--<div class="item">1</div>-->
      <!--<div class="item">2</div>-->
      <!--<div class="item">3</div>-->
      <!--<div class="item">4</div>-->
      <!--<div class="item">5</div>-->
      <!--<div class="item">6</div>-->
      <!--<div class="item">7</div>-->
      <!--<div class="item">8</div>-->
      <!--<div class="item">9</div>-->
      <!--<div class="item">10</div>-->
      <!--<div class="item">12</div>-->
      <!--<div class="item">13</div>-->
      <!--<div class="item">14</div>-->
      <!--<div class="item">15</div>-->
      <!--<div class="item">1</div>-->
      <!--<div class="item">2</div>-->
      <!--<div class="item">3</div>-->
      <!--<div class="item">4</div>-->
      <!--<div class="item">5</div>-->
      <!--<div class="item">6</div>-->
      <!--<div class="item">7</div>-->
      <!--<div class="item">8</div>-->
      <!--<div class="item">9</div>-->
      <!--<div class="item">10</div>-->
      <!--<div class="item">12</div>-->
      <!--<div class="item">13</div>-->
      <!--<div class="item">14</div>-->
      <!--<div class="item">15</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</ion-content>-->

<!--<ion-header [elasticHeader]="myContent">-->
  <!--<div id="example-elastic-header" class="background-image"></div>-->
<!--</ion-header>-->
<!--&lt;!&ndash;Add the fullscreen attribute and #<componentID> &ndash;&gt;-->
<!--<ion-content class="home" fullscreen #myContent>-->
  <!--<ion-list>-->
    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
     <!--shay-->
    <!--</ion-item>-->
    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
      <!--shay-->
    <!--</ion-item>-->
    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
      <!--shay-->
    <!--</ion-item>-->
    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
      <!--shay-->
    <!--</ion-item>-->
    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
      <!--shay-->
    <!--</ion-item>-->
    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
      <!--shay-->
    <!--</ion-item>-->
    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
      <!--shay-->
    <!--</ion-item> <ion-item >-->
    <!--<ion-icon name="person" item-left></ion-icon>-->
    <!--shay-->
  <!--</ion-item>-->
    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
      <!--shay-->
    <!--</ion-item> <ion-item >-->
    <!--<ion-icon name="person" item-left></ion-icon>-->
    <!--shay-->
  <!--</ion-item> <ion-item >-->
    <!--<ion-icon name="person" item-left></ion-icon>-->
    <!--shay-->
  <!--</ion-item>-->
    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
      <!--shay-->
    <!--</ion-item> <ion-item >-->
    <!--<ion-icon name="person" item-left></ion-icon>-->
    <!--shay-->
  <!--</ion-item> <ion-item >-->
    <!--<ion-icon name="person" item-left></ion-icon>-->
    <!--shay-->
  <!--</ion-item> <ion-item >-->
    <!--<ion-icon name="person" item-left></ion-icon>-->
    <!--shay-->
  <!--</ion-item> <ion-item >-->
    <!--<ion-icon name="person" item-left></ion-icon>-->
    <!--shay-->
  <!--</ion-item> <ion-item >-->
    <!--<ion-icon name="person" item-left></ion-icon>-->
    <!--shay-->
  <!--</ion-item>-->
    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
      <!--shay-->
    <!--</ion-item>-->
    <!--<ion-item >-->
      <!--<ion-icon name="person" item-left></ion-icon>-->
      <!--shay-->
    <!--</ion-item> <ion-item >-->
    <!--<ion-icon name="person" item-left></ion-icon>-->
    <!--shay-->
  <!--</ion-item> <ion-item >-->
    <!--<ion-icon name="person" item-left></ion-icon>-->
    <!--shay-->
  <!--</ion-item> <ion-item >-->
    <!--<ion-icon name="person" item-left></ion-icon>-->
    <!--shay-->
  <!--</ion-item>-->





<!--Add the fullscreen attribute and #<componentID> -->
<ion-content >
  <p appBasicHighlight>Style me with basic directive!</p>
    <div class="header-image"></div>


<div  class="main-content">
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item">5</div>
  <div class="item">6</div>
  <div class="item">7</div>
  <div class="item">8</div>
  <div class="item">9</div>
  <div class="item">10</div>
  <div class="item">12</div>
  <div class="item">13</div>
  <div class="item">14</div>
  <div class="item">15</div>
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item">5</div>
  <div class="item">6</div>
  <div class="item">7</div>
  <div class="item">8</div>
  <div class="item">9</div>
  <div class="item">10</div>
  <div class="item">12</div>
  <div class="item">13</div>
  <div class="item">14</div>
  <div class="item">15</div>
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item">5</div>
  <div class="item">6</div>
  <div class="item">7</div>
  <div class="item">8</div>
  <div class="item">9</div>
  <div class="item">10</div>
  <div class="item">12</div>
  <div class="item">13</div>
  <div class="item">14</div>
  <div class="item">15</div>
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item">5</div>
  <div class="item">6</div>
  <div class="item">7</div>
  <div class="item">8</div>
  <div class="item">9</div>
  <div class="item">10</div>
  <div class="item">12</div>
  <div class="item">13</div>
  <div class="item">14</div>
  <div class="item">15</div>
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item">5</div>
  <div class="item">6</div>
  <div class="item">7</div>
  <div class="item">8</div>
  <div class="item">9</div>
  <div class="item">10</div>
  <div class="item">12</div>
  <div class="item">13</div>
  <div class="item">14</div>
  <div class="item">15</div>
  <div class="item">1</div>
  <div class="item">2</div>
  <div class="item">3</div>
  <div class="item">4</div>
  <div class="item">5</div>
  <div class="item">6</div>
  <div class="item">7</div>
  <div class="item">8</div>
  <div class="item">9</div>
  <div class="item">10</div>
  <div class="item">12</div>
  <div class="item">13</div>
  <div class="item">14</div>
  <div class="item">15</div>
</div>
</ion-content>












  <!--</ion-list>-->
<!--</ion-content>-->