

<ion-content>
    <div class="mainLogo" align="center">
        <img src="images/logo.png" style="width:50%; margin: auto">
    </div>
    <div class="info" align="center">
        <div class="client">
            לקוח פרטי
        </div>
        <div class="or">
            או
        </div>
        <div class="client" (click)="goToRegister(1)">
        הקמת עסק חדש
        </div>
        <div class="exsist" (click)="goToLogin()">
            <a>
                לקוח קיים
            </a>
        </div>

    </div>

</ion-content>
