page-register-intro {
  .mainLogo
  {
    margin-top: 50px;
  }
  .info
  {
    width: 100%;
    margin-top: 40px;
  }

  .client
  {
    width: 80%;
    padding: 10px;
    border-radius: 13px;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    border: 1px solid #3ba2dc;
    color: #333;
  }

  .or
  {
    margin-top: 10px;
  }

  .exsist
  {
    margin-top: 30px;
    font-size: 15px;
  }
}
