// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.content
{
  background-color:#f6f6f6;
}


.form-control
{
  width: 80%;
  margin: auto;
  border-radius:7px;
  padding: 7px 15px;
  border: 1px solid #3ba2dc;
  color: #333;
  text-align: right;
  margin-top: 10px;
  direction: rtl;
}

input.ng-invalid.ng-touched
{
  border: 1px solid red;
}

.formSpan
{
  text-align:right;
  color: #999;
  margin: auto;
}

.mainToastClass
{
  text-align: center;
}